<div>
  <sidebar-item-section name="Apps">
    <sidebar-item title="Aplicaciones" routerLink="/">
      <apps-icon></apps-icon>
    </sidebar-item>
    <sidebar-item title="Actualizaciones" routerLink="/admin/updates">
      <updates-icon></updates-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section name="Enfoque">
    <sidebar-item title="Galeria" routerLink="/admin/photography">
      <photography-icon></photography-icon>
    </sidebar-item>
    <sidebar-item title="Finanzas" routerLink="/admin/graphic-design">
      <graphic-design-icon></graphic-design-icon>
    </sidebar-item>
    <sidebar-item title="Plantillas" routerLink="/admin/videos">
      <video-icon></video-icon>
    </sidebar-item>
    <sidebar-item title="Clientes y servicios" routerLink="/admin/illustration">
      <illustration-icon></illustration-icon>
    </sidebar-item>
    <sidebar-item title="Planner" routerLink="/admin/ux">
      <ux-icon></ux-icon>
    </sidebar-item>
    <sidebar-item title="Credenciales" routerLink="/admin/ar">
      <ar-icon></ar-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section name="Cosmos">
    <sidebar-item title="Base de conocimiento" routerLink="/admin/documentation">
      <doc-icon></doc-icon>
    </sidebar-item>
  </sidebar-item-section>
</div>
